<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RacPie</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<link rel=stylesheet type=text/css href="../static/css/style.css">
<!-- {% extends 'main.html' %}
{% block content %} -->
<style>
    
	*{
		text-align: center;
		font-size: 25px;
	}
</style>

<nav class="navbar navbar-default">
  <div class="container-fluid my_nav">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Social Network</a>
    </div>
    <ul class="nav navbar-nav ">
      <li><a  class="nav_styles"href="#">Home</a></li>
      <li><a class="nav_styles" href="#">Page 1</a></li>
      <li><a class="nav_styles" href="#">Page 2</a></li>
      <li><a class="nav_styles" href="#">Page 3</a></li>
    </ul>
  </div>
</nav>

<form action="/edit" method="POST">
First Name <br><input class="edit_input" type="text" name="first_name" placeholder="{{context.user.object.first_name}}" value="">
<br>
<br>
Last Name <br><input class="edit_input" type="text" name="last_name" placeholder="{{context.user.object.last_name}}" value="">
<br><br>
Nickname <br><input class="edit_input" type="text" name="nickname" placeholder="{{context.user.object.nickname}}" value="">
<br>
<br>
Email <br><input class="edit_input" type="text" name="email" placeholder="{%if context.user %}{{context.user.object.email}}{%endif%}" value="">
<br><br>
Password <br><input class="edit_input" type="text" name="password" placeholder="{{context.user.object.password}}" value="">
<br>
<br>
<button class="edit_btn" type="submit">Claim</button>
</form>
</body>
</html>
<!-- 
{% endblock%}
