{% extends 'main.html' %}

{% block content %}
	{%if context:%}
		<p>HELL0 {{context.user.object.first_name}} {{context.user.object.last_name}} !!!)))</p>
	{%else%}
		<p>HELL0 Unknown ((((</p>
	{%endif%}

{%if context.user.object.id != context.loginUser.object.id%}
		{% if context.friend_button_name =='Isnt Friends'%}
		<form method="POST" action="/add_friend">
						<input type="name" class="form-control" name="id" value="{{context.user.object.id}}" style="display:none">
		<br><button type="submit" class="follow_btn_2">add friend</button>
        </form>
		{%endif%}
		{% if context.friend_button_name =='Is Friends'%}
            <form method="POST" action="/block_friend">
						<input type="name" class="form-control" name="id" value="{{context.user.object.id}}" style="display:none">
		<br><button type="submit" class="follow_btn_2">block friend</button>
            </form>

            <form method="POST" action="/delete_friend">
						<input type="name" class="form-control" name="id" value="{{context.user.object.id}}" style="display:none">
		<br><button type="submit" class="follow_btn_2">delete friend</button>
            </form>
		{%endif%}
		{% if context.friend_button_name == 'Cancel request' %}
                <form method="POST" action="/delete_friend">
                    <input type="name" class="form-control" name="id" value="{{context.user.object.id}}" style="display:none">
                    <button type="submit" class="follow_btn_2">cancel request</button>
                </form>
		{%endif%}
		{% if context.friend_button_name == 'Accept request' %}
		<form method="POST" action="/accept_friend_request">
                    <input type="name" class="form-control" name="id" value="{{context.user.object.id}}" style="display:none">
                    <button type="submit" class="follow_btn_2">accept request</button>
		</form>
		<form method="POST" action="/delete_friend">
                    <input type="name" class="form-control" name="id" value="{{context.user.object.id}}" style="display:none">
                    <button type="submit" class="follow_btn_2">cancel request</button>
                </form>
		{%endif%}
{%endif%}

		<!--<form method="POST" action="/chat/<room_id>">-->
                    <!--<input type="name" class="form-control" name="id" value="{{context.user.object.id}}" style="display:none">-->
                    <!--<button type="submit" class="follow_btn_2">Text</button>-->
                <!--</form>-->
 {% endblock %}

