{% extends 'main.html' %}
{% block content %}
<style>
	*{
		text-align: center;
		font-size: 25px;
	}
	.nav_styles{
	  visibility:hidden;
	}
</style>
<form action="/login" method="POST">
  <!--<a href="/quick_login"><p class="quick_login">Quick login as 12</p></a>-->
  <shaked class="shaked">Email:</shaked> <br>
  <input class="edit_input" type="text" name="email" value="" autocomplete="off">
  <br>
  <shaked class="shaked">Password</shaked><br>
  <input class="edit_input" type="text" name="passw" value="" autocomplete="off">
  <br><br>
   <a href="#" class="login_button"> <span class="login_span"><button class="input_button" type="submit" value="Login">Login</button></span></a>
</form>

<a href="/registration">
<h1>or <br> registrate</h1>
</a>
{% endblock %}

