
{% extends 'main.html' %}

{% block content %}
<style>
  *{
    text-align: center;
    font-size: 25px !important;
  }
  .nav_styles{
	  visibility:hidden;
	}
</style>
{%if context.Error:%}
     {%for error in context.Error %}
    <h2>{{error}}</h2>
     {%endfor%}
{%endif%}
<form action="/registration" method="POST">

  {%if context.type.object.type_name == 'user':%}
    <p class="shaked_2">First Name:</p>
  <input class="edit_input" type="text" name="first_name" value="">
  <br>
  <p class="shaked_2">Last Name:</p>
    <input class="edit_input" type="text" name="last_name" value="">
    <br>
  <p class="shaked_2">Descr:</p>
    <input class="edit_input" type="text" name="descr" value="">
    <br>
  <p class="shaked_2">Nickname:</p>
    <input class="edit_input" type="text" name="nickname" value="">
    <br>
  <p class="shaked_2">Email:</p>
    <input class="edit_input" type="text" name="email" value="{%if context.user %}{{context.user.object.email}}{%endif%}">
    <br>
  <p class="shaked_2">Password:</p>
    <input class="edit_input" type="text" name="passw1" value="">
    <br>
  <p class="shaked_2">Repeat Password:</p>
    <input class="edit_input" type="text" name="passw2" value="">
  {%else%}
  <p class="shaked">Group Name:</p>
  <br>
  {%endif%}
  <input style="display: none" type="text" name="type_name" value="{{context.type.object.type_name}}">
  <br><br>
  <a href="#" class="login_button"> <span class="login_span"><button class="input_button" type="submit" value="registr">Registrate</button></span></a>
</form>

{%endblock%}
