<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
</head>
<body>
<header></header>
<main>
<div class="col-xs-10 col-sm-8 col-md-8 user_box">

<div class="col-xs-10 col-sm-8 col-md 8">
<div class=" user_title_box">
	<p class="user_title" >New User Profile | Account</p>
	<p class="user_subtitle">  user account page</p>
	</div>
	</div>

	<div class="profile col-xs-8 col-sm-3 col-md-3">

	<div class="center">
		<div class="img_box">
		<img src="profile_img.jpg">
		<div class="contain">
			<div class="content">
				<h1>John Doe</h1>
				<p>Developer</p>
			</div>
		</div>
	</div>
	</div>

	<a href="#" class="login_button"><span class="login_span"><button class="input_button" >Message</button></span></a>
	<a href="#" class="login_button1"><span class="login_span1"><button class="input_button1" >Follow</button></span></a>
	</div>

<div class="account_form col-xs-8 col-sm-8 col-md-8">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#personal_info" aria-controls="personal_info" role="tab" data-toggle="tab" >Personal Info</a></li>
    <li role="presentation"><a href="#change_avatar" aria-controls="change_avatar" role="tab" data-toggle="tab">Change Avatar</a></li>
    <li role="presentation"><a href="#change_password" aria-controls="change_password" role="tab" data-toggle="tab">Change Password</a></li>
    <li role="presentation"><a href="#privacy_settings" aria-controls="privacy_settings" role="tab" data-toggle="tab">Privacy Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="personal_info">personal_info</div>
    <div role="tabpanel" class="tab-pane fade" id="change_avatar">change_avatar</div>
    <div role="tabpanel" class="tab-pane fade" id="change_password">change_password</div>
    <div role="tabpanel" class="tab-pane fade" id="privacy_settings">privacy_settings</div>
  </div>
</div>

</div>

</main>
<footer></footer><!--
<form method="GET" action="/add_friend">
        <input type="name" name="username" value="{{context.user.object.nickname}}" style="display:none">
        <button type="submit">Become friends!</button>
	</form>
	-->
<script src="script.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>